.video-container{
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%; 
  overflow: hidden;
}
.video-container video{
  min-width: 100%; 
  min-height: 100%; 
  width: auto;
  height: auto;
}
  .hero-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: contain;
}

  
  .hero-container > h1 {
    color: #fff;
    font-size: 50px;
    margin-left: 20px;
    bottom:100px;
    left: 20px;
    position: absolute;
  }
  .bottom-section{
    display: flex;
    position: absolute;
    width: 95%;
    margin-left: 20px;
    margin-right: 20px;
    bottom:50px;
    left: 20px;
    align-items: center;
    justify-content: space-between;
  

  }
  .IconButton{
    font-size: 14px;
    color: rgb(138, 138, 138);
    border-radius: 60px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    margin-right: 12px;
  }
  .hero-buttons{
    justify-self: start;
  
  }
  .downloadBtn{
    padding-right: 10px;
    width: 35%;
  }
  .play-pause-container{
    justify-self: end; 
    display: flex;
  }
  .mute-unmute-button, .play-pause-button{
    background: rgba(255, 255, 255, 0.1);
    padding: 25px;
    border-radius: 50%;
    margin-right: 12px;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .play-pause-button:hover, .mute-unmute-button:hover{
    background: rgba(255, 255, 255, 0.226)
  }
  .fa-pause, .fa-play, .fa-volume-up, .fa-volume-mute{
    font-size:18px;
    color: rgb(190, 190, 190);
    padding: 25px;
    border-radius: 50%;
  }
  
  .fa-pause:hover, .fa-play:hover, .fa-volume-up:hover, .fa-volume-mute:hover{
    color: #fff;
 
  }
  
  
  @media screen and (max-width: 960px) {
    .hero-container > h1 {
      font-size: 50px;
      margin-top: -150px;
    }
    .mute-unmute-button, .play-pause-button{
      background: rgba(255, 255, 255, 0.1);
      padding: 15px;
      border-radius: 50%;
      margin: 8px;
      height: 15px;
      width: 15px;
    }
    .fa-pause, .fa-play, .fa-volume-up, .fa-volume-mute{
      font-size:15px;
      color: rgb(190, 190, 190);
      padding: 25px;
      border-radius: 50%;
    }
    .play-pause-container{
      margin-right:20px ;
    }
  
  }
  
  @media screen and (max-width: 768px) {
    .hero-container > h1 {
      font-size: 30px;
      margin-top: -100px;
    }

    .hero-container > p {
      font-size: 30px;
    }
}  